[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<2.3"
gunicorn = "*"
bleach = "*"

[dev-packages]
selenium = "<4"
jedi = "*"
rope = "*"
"autopep8" = "*"
yapf = "*"
"flake8" = "*"
python-language-server = {extras = ["all"],version = "*"}
pyls-mypy = "*"
"fabric3" = "*"

[requires]
python_version = "3.7.7"
