[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<1.12"

[dev-packages]
selenium = "<4"
jedi = "*"
rope = "*"
"autopep8" = "*"
yapf = "*"
"flake8" = "*"
python-language-server = {version = "*", extras = ["all"]}

[requires]
python_version = "3.7"
